.intro-content {
    position: relative;
    top: -8rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    min-height: 100vh;
}

.intro-text-content, .intro-img {
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.intro-text-content h2{
    margin-top: 2rem;
}
.perfil { 
    font-size: 17px;
}


.intro-img img ,.intro-img svg{
    margin-top: 6.5rem;
    max-width: 100%;
    min-height: auto;
}

.cursos-info-content , .form-info-content{
    display: flex;
    flex-flow: column nowrap;
    justify-content:center;
    min-height: 20vh;
    
}

.cursos-info-content{
    max-width: 64rem;
    text-align: center;

}
.cursos-info-content{
    padding-top: 10px;
}

 
.form-info-content{
    max-width: 64rem;
    text-align: center;
}
.form-info-content{
    padding-bottom: 0;
}
.form-info-content h3 {
    padding-top: 4rem;
}


.repositorio-link a{
    color: var(--white-color);
}
.repositorio-link a:hover{
    color: aqua;
    
}

.repository {
    color: var(--primary-color);
}
.repository:hover{
    color: #5a57eb;
    transition: .5s;
    text-decoration: none;
    
}
.main-content button{
    box-shadow: 1px 1px 2px #ffffff1a;
}

.grid-one-content {
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content:center;
}

.grid-main-heading {
    margin-bottom: 2rem;
}

.grid-description {
    padding-bottom: 6rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}
.repository{
    color: var(--primary-color);
}


.link-a-azul a{
    color: var(--primary-color);
}

.grid button a{
    color: var(--white-color);
}

.grid button:hover{
    color: aqua;
    background: var();
}

.grid h3 {
    font-size: 3rem;
    position: relative;
    padding-left: 5rem;
    padding-bottom: 3rem;
}
.grid h3::before {
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 8rem;
    font-style: italic;
    top: -2rem;
    left: -1.5rem;
    transform: rotate(5deg);
}

.footer {
    text-align: center;
}

.footer a {
    color: inherit;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.footer p {
    margin: 0;
}

.heart {
    color: red;
}
.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: var(--white-color);
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--primary-color);
    transform: rotate(-90deg);
    border: 0.1rem solid var(--primary-color);
}

.close-menu {
    display: none;    
}
@media (max-width:1100px){
    .intro-content , .grid{
        grid-template-columns: 1fr;
    }
    .grid-one-content{
        display: block;
    }
    .intro-text-content {
       margin-top: 10rem;
    }
    .menu {
        bottom : 0;
        text-align: center;
    }
    .menu-content, .menu-content ul {
        flex-direction: column;
        justify-content:center;
    }
    .menu-content {
        height: 100vh;
    }
    .menu {
        display: none;
    }

    .close-menu-label::after{
        content: '☰';
        position: fixed;
        z-index: 2;
        top: 2rem;
        right: 2rem;
        background: var(--primary-color);
        color: var(--white-color);
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        padding: 0.5rem;
        cursor:pointer;

    }
    .close-menu:checked~.menu {
        display: block;

    }
    .close-menu:checked~.close-menu-label::after {
        content: '×';
    }
    .menu-spacing{
        display: none;
    }
}   